* {
    padding: 0;
    margin: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    transition: 0.5s;
}

.container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-6 {
    max-width: 50%;
    flex: 0 0 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .col-6 {
        max-width: 100%;
        flex: 0 0 100%;
    }
}

.header {
    width: 100%;
    background: #fff;
    box-shadow: 2px 0px 5px rgb(0, 0, 0, 0.2);
    padding: 20px;
    transition: 0.5s;
}

.htext {
    float: left;
    margin: 8px 10px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s;
}

.header .switch {
    cursor: pointer;
    width: 60px;
    height: 28px;
    border: 1px solid white;
    border-radius: 20px;
    position: relative;
    display: inline-block;
    background: #000;
}

.header .switch input {
    display: none;
}

.header .switch .slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.header .switch .slide::before {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    margin: 1px;
    background: white;
    border-radius: 20px;
    transition: 0.5s;
}

.header .switch input:checked + .slide::before {
    transform: translateX(32px);
}

.box {
    background: white;
    padding: 20px;
    width: 300px;
    box-shadow: 2px 2px 15px rgb(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 100px;
    transition: 0.5s;
}

.box .cal {
    display: flex;
    flex-wrap: wrap;
}

.box .cal input {
    width: 100%;
    padding: 15px 30px;
    border-radius: 10px;
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid rgb(200, 200, 200);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.box .cal input:focus {
    background: lightcyan;
}

.box .cal .heading {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    background: lightgrey;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.box .cal label {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    padding: 5px;
    display: none;
}

.box .main-heading {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    background: lightskyblue;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.box .cal button {
    padding: 10px 23px;
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    background: cornflowerblue;
    color: white;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.box .cal button:hover {
    background: blueviolet;
}

.box .result {
    font-size: 18;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 20px;
    text-align: center;
    background: #fff;
    border-radius: 10px;
}

.box .clr {
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background: green;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}

.mboxbtn {
    display: none;
}

.box .cal .active,
.active {
    display: block;
}








#header {
    background: #FFFFFF;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    padding: 0 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;


}

.navbar {
    position: relative;
    left: -200px;
    top: 0;
}

.hero-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

#hero {
    background: #100E14;
}

.hero-block h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;

}

.hero-block p {

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 60px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);


}

.btn {
    width: 230px;
    height: 60px;
    background: #FF4343;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #FFFFFF;
}


.hero-block a {
    color: white;
    margin-bottom: 60px;
}

#basics {
    background: #100E14;
}

.hero-block-edi {
    position: relative;
}

.edi {
    padding-left: 100px;
}

.edi2 {
    position: absolute;
    right: 0;
    top: 0;
}

#work {
    background: #121118;
    padding: 50px 0;

}

.work-gen {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work-2 h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;

}

.work-2 p {
    height: 114px;
    width: 452px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;
    color: rgba(255, 255, 255, 0.5);

}

.work-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aza img {
    position: relative;
    right: 20px;
    top: 60px;
}

.aza2 img {
    position: absolute;
    right: 10px;
    top: 0;
}

#them {
    background: #121118;
    padding-top: 100px;
}

.gog img {
    width: 400px;
}

.them-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tmem-aza h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 1.92px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.tmem-aza p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 1.08px;
    color: rgba(255, 255, 255, 0.5);
}

#add {
    background: #121118;
    padding-top: 100px;
}

.add-aza {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.zema img {
    width: 400px;
}
.add-aza h1{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 3.2px;
    color: #FFFFFF;
   margin-bottom: 20px;

}
.add-aza p {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 1.08px;
    color: rgba(255, 255, 255, 0.5);

}
#share {
    background: #121118;
}
.share-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 300px;
}

.share-block h1 {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 1.92px;
    color: #FFFFFF;
    margin-bottom: 20px;

}
.share-block p {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1.08px;
    color: rgba(255, 255, 255, 0.5);

}

#best {
    background: #121118
}
.share-aza img {
    width: 500px;
}
.gog-aza img {
    width: 300px;
    left: 50px;

}
.best {
    position: relative;
    padding-top: px;






}

.best-aza h1 {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 61px;
    text-align: center;
    letter-spacing: 2.56px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.best-aza P {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    text-align: center;
    letter-spacing: 0.42px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;


}

